@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");


html, body{
  overflow:hidden;
  height:100%;
}

/*callout*/
.large{
  margin:0;
}

.callout.secondary{
  background-color: rgba(255,255,255,0.85);
}

/*loader*/
.loading{
  color:white;
}

/*form*/
.container-input{
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-input .icon{
  position: absolute;
  top: 50%;
  margin-left: 13px;
  margin-top: -9px;
  z-index: 1;
  color: rgb(255,112,113);
}

input#search{
    padding: 23px 0px 23px 35px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16), 0 0 0 2px rgba(0,0,0,0.08);
    border: honeydew;
    display: block;
    width: 100%;
    font-size: 16px;
    border-radius: 2px;
    outline: none;
}


input#search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(255,112,113);
    opacity: 1; /* Firefox */
}


button
.responsive-menu .button{
  margin-top:0;
}


ul{
  margin-left: 0;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  text-align: center;
}


.top-bar-trasp{
	background: 0 0;
	z-index: 10;
	position: relative;
}

.logo{
  width: 60px;
}

.menu li{
	letter-spacing: 1px;
    margin-right: 20px;
}

.menu li a{
  color:white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
}

.menu li a:hover{
	color:#ff0040;
}

.menu-text h1{
	font-size: 22px;
	font-weight: 600;
	letter-spacing: 2px;
	color:brown;
}

.wineForm{
	background:url(imgs/grapes.png), #ff4343;
	height: 100vh;
	 background-repeat: no-repeat;
  background-position: 50% 52%;
    background-size: 30%;
    position: relative;
}

.list-group-item img{
      border-radius: 50px;
    }

.main-title{
	color:#fff;
	font-weight: 300;
  
}

.page-title{
color: #fff;
    margin-top: 3em;
    margin-bottom: 0.5em;
    font-size: 48px;
    letter-spacing: 10px;
    font-weight: 300;
}

.acc-title{
	color:#ff4343;
	margin: 13px auto;
    font-size: 18px;
    letter-spacing: 5px;
    font-weight: 400;
}

.form-title{
color: #fff;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 16px;
    letter-spacing: 10px;
    font-weight: 300;
}

.list-group-item{
	background-color: #fff;
}

.top-bar-left {
    margin-top: 30px;
    margin-left: 15px;
    color: #999;
}

.top-bar-left a{

    color: #fff;
}

.top-bar-right {
    margin-top: 30px;
    margin-right: 20px;
}

.footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

/*Accordion*/


.accordion{
	transform: translateZ(0);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.accordion > .accordion-toggle{
	position: absolute;
	opacity: 0;
	display: none;
}

.accordion > label {
    position: relative;
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 700;
    border-top: 1px solid #ddd;
    background: #fff;
    cursor: pointer;
}

.accordion > label:after {
  content: '\f078';
  position: absolute;
  top: 0px;
  right: 20px;
  font-family: fontawesome;
  transform: rotate(90deg);
  transition: .3s transform;
  font-size: 10px;
  color:#ff4343;
}

.accordion > section{
	height: 0;
	transition: .3s all;
	overflow: hidden;

}

.accordion > .accordion-toggle:checked ~ label:after{
 transform: rotate(0deg);
}

.accordion > .accordion-toggle:checked ~ section{

  padding: 1rem 3rem 4rem 1.8rem;
}

.accordion > section p {
  margin: 15px 0;
  padding: 0 20px;
  font-size: 12px;
  line-height: 1.5;
 
}


/*responsive*/


/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 820px)
  and (-webkit-min-device-pixel-ratio: 2) {


    .wineForm{
      background:url('imgs/grapes.png'), #ff4343;
      height: 100vh;
      background-repeat: no-repeat;
      background-position: 50% 25%;
      background-size: 70%;
      position: relative;
      object-fit: cover; 
    }

    .page-title{
      font-size: 66px;
    }
  
    input#search{
      height: 80px;
      font-size:24px;
      padding: 23px 0px 23px 35px;
    }

    .list-group-item>a{
      font-size:18px;
    }

    .list-group-item img{
      width:40px;
      border-radius: 50px;
    }

    .inline-list a{
      font-size:16px;
    }

    .logo{
      width: 100px;
    }

    .responsive li{
      list-style: none;
    }

    .responsive a{
      font-size:52px;
      letter-spacing:3px;
      color:#FF7B7B;
      margin-bottom:1.5em;
    }


}








