//colors
$red: red;
$color_mexican_red_approx: #d62d20;
$color_mercury_approx: #e6e6e6;
$color_romance_approx: #fefefe;
$color_cod_gray_approx: #0a0a0a;
$white: #fff;
$color_apricot_approx: #ee8176;
$color_stack_approx: #8a8a8a;
$color_mountain_mist_approx: #999;



//button
.responsive-menu .button{
  margin-top:0;
}

.button-circle{
  display:block;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 2px solid brown;
  color:#fff;
  margin:10px auto;
  cursor: pointer; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 4px 8px 0 rgba(0,0,0,0.19);
}

.button-add{
  color:brown;
  background:white;
}

.button-delete{
  color:red;
}

.button-circle a{
  color:fff;
}

.button-circle i{
  color:red;
}

.social{
  margin:0 auto;
}

.social-btn{
  margin-left:15px;
  width:45%;
}


ul{
  margin-left: 0;
}
//@extend-elements
//original selectors
.list-group-item.disabled, .list-group-item.disabled:hover, .list-group-item.disabled:focus, .list-group-item[disabled], .list-group-item[disabled]:hover, .list-group-item[disabled]:focus
%extend_1 {
  color: $color_stack_approx;
  cursor: not-allowed;
  background-color: $color_romance_approx;
}


.subheader {
  color: $color_mexican_red_approx;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
input[type=search] {
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: none;
}
.button {
  margin-top:10px;

  background-color: $color_mexican_red_approx;
  &:hover {
    background-color: $red;
    border:1px solid white;
  }
  &.hollow {
    color: $red;
    border-color: $red;
    &:hover {
      color: $color_mexican_red_approx;
      border-color: $color_mexican_red_approx;
    }
  }
}
a {
  color: $red;
  &:hover {
    color: $color_mexican_red_approx;
  }
}
.main-title {
  letter-spacing: 5px;
  word-spacing: 1px;
  font-weight: 200;
}
.list-group-item {
  margin-left: 0em;
  padding: 1rem;
  list-style: none;
  border: 1px solid $color_mercury_approx;
  &.active {
    color: $color_romance_approx;
    background-color: $white;
    border-color: 1px solid $white;
  }
  &:hover {
    background-color: $color_mercury_approx;
    &.active {
      background-color: $color_apricot_approx;
      color: $white;
    }
  }
  &:focus {
    background-color: $color_mercury_approx;
    &.active {
      background-color: $color_apricot_approx;
      color: $white;
    }
  }
  &.disabled {
    @extend %extend_1;
    &:hover {
      @extend %extend_1;
    }
    &:focus {
      @extend %extend_1;
    }
  }
  > :last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
}
.list-group-item[disabled] {
  @extend %extend_1;
  &:hover {
    @extend %extend_1;
  }
  &:focus {
    @extend %extend_1;
  }
}
.inline-list {
  li {
    display: inline;
    font-size: 12px;
    margin-right: 10px;
  }
  a {
    color: $color_mountain_mist_approx;
  }
}
//general
// $space-large: 1.5em;.page-title {
//   color: $red;
//   margin-top: $space-large;
//   margin-bottom: $space-large;
// }
//list 
link.list-group {
  margin-bottom: 1rem;
  border: 1px solid $color_mercury_approx;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 0;
  background: $color_romance_approx;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: none;
  overflow: hidden;
  color: $color_cod_gray_approx;
  margin-left: 0;
  list-style: none;
}
.list-group > :last-child {
  margin-bottom: 0;
}

//animations
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}


.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

//table with flexbox

/* DivTable.com */
.table{
  display: table;
  width: 100%;
}
.divTableRow {
  display: table-row;
}
.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
}
.divTableCell, .divTableHead {
  border: 1px solid #999999;
  display: table-cell;
  padding: 3px 10px;
}
.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
  font-weight: bold;
}
.divTableFoot {
  background-color: #EEE;
  display: table-footer-group;
  font-weight: bold;
}
.divTableBody {
  display: table-row-group;
}


//
.btn-fb{
  background:#3B5998;
}

.btn-gg{
   background:$color_mexican_red_approx;
}

// dot animation loading
div#wave {
  position: relative;
  text-align: center;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}
div#wave .dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 10px;
  background: #fff;
  animation: wave 1.3s linear infinite;
}
div#wave .dot:nth-child(2) {
  animation-delay: -1.1s;
}
div#wave .dot:nth-child(3) {
  animation-delay: -0.9s;
}

@keyframes wave {
  0%, 60%, 100% {
    transform: initial;
  }
  30% {
    transform: translateY(-15px);
  }
}


//buttun animation
/* Radial Out */
.hvr-radial-out {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  background: #fff;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #eee;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: white;
}
.hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}


/*responsive nav*/
.top-bar {
    padding: 0;
    background-color:#ff4343;
}

.top-bar, .top-bar ul {
    background-color:#ff4343;
}

.responsive-menu{
  display:none;
}

input.responsive, ul.responsive{
  display:none;
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 820px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .responsive-menu{
    display:block;
  }

  ul.responsive{
    display:block;
  }

  div.top-bar-right{
    display:none;
  }
  
  img.logo{
    width:100px;
  }
  
  //menu hamburger
label {
  .responsive-menu {
    position: absolute;
    right: 35px;
    top: 37px;
    z-index: 100;
    width: 100px;
    height: 100px;
    background: #FFF;
    border-radius: 50% 50% 50% 50%;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    cursor: pointer;
  }
  .hamburger {
    position: absolute;
    top: 48px;
    left: 25px;
    width: 50px;
    height: 4px;
    background: #FF7B7B;
    display: block;
    transform-origin: center;
    transition: .5s ease-in-out;
    &:after,
    &:before {
      transition: .5s ease-in-out;
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background: #FF7B7B;
    }
    &:before {
      top: -15px;
    } 
    &:after {
      bottom: -15px;
    }
  }
  input {
    display: none;
  }
  input:checked + .responsive-menu {
    box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
    border-radius: 0;
    .hamburger {
      transform: rotate(45deg);
      &:after {
        transform: rotate(90deg);
        bottom: 0;
      }
      &:before {
        transform: rotate(90deg);
        top: 0;
      }
    }
  }
  
  input:checked + .responsive-menu + ul {
    opacity: 1;
  }
  
  ul {
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: .25s 0s ease-in-out;
  }
  
  a {
    margin-bottom: 1em;
    display: block;
    color: #000;
    text-decoration: none;
  }
}  
  

}








